<div class="skills-container"> 
    <img src="assets/images/my_skills.png" alt="Contáctame" class="contact-image">
    <div class="circle-progress-container">
        
        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_html_5.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_css_3.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_javascript.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_angular.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_java.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_python.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_linux.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_django.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">        
            <circle-progress 
            [percent]="50" 
            [radius]="80" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'#FFBF00'" 
            [innerStrokeColor]="'#808080'" 
            [animation]="true" 
            [animationDuration]="750"
            [imageSrc]="'../assets/images/logo_springboot.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="false"
            [showTitle]="false">
        </circle-progress>
        </div>

    </div>
</div>
