<section id="skills">
<div class="skills-container">
    <img src="assets/images/my_skills.png" alt="Contáctame" class="contact-image">
    <div class="circle-progress-container">

        <div class="circle-container">
            <circle-progress
            [percent]="80"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#00ff99'"
            [innerStrokeColor]="'#ff0080'"
            [animation]="true"
            [animationDuration]="850"
            [imageSrc]="'assets/images/logo_html_5.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="75"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#00ff00'"
            [innerStrokeColor]="'#ffa500'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_css_3.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="80"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffff00'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_javascript.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#dd0031'"
            [innerStrokeColor]="'#c3002f'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_angular.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="90"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff0000'"
            [innerStrokeColor]="'#0000ff'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_java.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="80"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#3776ab'"
            [innerStrokeColor]="'#ffd43b'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_python.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="75"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff00ff'"
            [innerStrokeColor]="'#00ffff'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_php.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff4500'"
            [innerStrokeColor]="'#32cd32'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_linux.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#092e20'"
            [innerStrokeColor]="'#44b78b'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_django.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#6db33f'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_springboot.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

        <div class="circle-container">
            <circle-progress
            [percent]="90"
            [radius]="80"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#007acc'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="750"
            [imageSrc]="'assets/images/logo_vsc.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [showUnits]="true"
            [showTitle]="false">
        </circle-progress>
        </div>

    </div>
</div>
</section>
