/* Estilos para el componente developments */
.developments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    /* Espaciado adicional */
}

.development-item {
    width: 450px;
    max-height: 400px;
    /* Limita la altura de las tarjetas */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Esconde contenido que exceda la altura */
    display: flex;
    flex-direction: column;
    /* Asegura alineación vertical */
}

.development-image {
    width: calc(100% - 20px);
    /* Reduce el ancho para dar espacio al padding */
    height: 200px;
    object-fit: cover;
    margin: 10px;
    /* Agrega espacio alrededor de la imagen */
    border-radius: 10px;
    /* Bordes redondeados para armonía con la tarjeta */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombras sutiles en la imagen */
    background-color: white;
    /* Color de fondo para compatibilidad */
}

.development-info {
    padding: 15px;
    flex: 1;
    /* Permite que este bloque crezca para llenar el espacio */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    /* Espaciado uniforme entre elementos */
}

.development-info h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;

}

.development-info p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.4;
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos si el texto es muy largo */
    overflow: hidden;
    white-space: nowrap;
}

.view-more-btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center; /* Centra el botón horizontalmente */
}

.view-more-btn:hover {
    background-color: #e64a19;
}

/* Estilos de la modal */
.modal {
    display: none;
    /* Inicialmente está oculta */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blureado */
    backdrop-filter: blur(15px);
    /* Desenfoque más intenso en la modal */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #ff5722;
}