<header class="header">
	<div class="header-container">
		<!-- Banner a la izquierda -->
		<div class="header-left">
			<img src="assets/images/nombre_banner.png"
				alt="Mi Portfolio"
				class="header-banner">
		</div>

		<!-- Banner en el centro -->
		<div class="header-center">
			<!-- <img src="assets/images/nombre_banner.png"
			alt="Mi Portfolio"
			class="header-banner"> -->
		</div>

		<!-- Contenido a la derecha -->
		<div class="header-right">
			<a href="#contacto" class="contact-button">
				<img src="assets/images/contact_me.jpeg" alt="Contáctame" class="contact-image">
				<p class="contact-text">Contáctame</p>
			</a>
		</div>
	</div>
</header>
