/* Estructura general del header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ancho controlado */
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.header-banner {
    max-width: 150px; /* Ajusta el tamaño del logo/banner */
}

.header-center {
    text-align: center;
    color: #fff;
    flex: 2;
}

.header-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 1.2em;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.cta-button {
    background-color: #ff5722; /* Naranja vibrante */
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e64a19; /* Color de hover */
}
