.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    transition: padding 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 0, 150, 0.2), rgba(0, 255, 255, 0.2));
    filter: blur(15px);
    z-index: -1;
}

.header.shrink {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
}

.header.shrink::before {
    background: linear-gradient(135deg, rgba(255, 0, 150, 0.4), rgba(0, 255, 255, 0.4));
    filter: blur(20px);
}

/* Contenedor del logo (izquierda) */
.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Logo del banner */
.header-banner {
    max-width: 380px;
    height: auto;
    transition: transform 0.3s ease, max-width 0.3s ease;
}

/* Columna central (vacía) */
.header-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-family: "Exo 2", serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: #00ff99;
    transform: scale(1.1);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #00ff99;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Contenedor de las redes sociales y el botón de contacto (derecha) */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Contenedor de íconos */
.social-media-icons {
    display: flex;
    gap: 15px;
    margin-right: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilo de los iconos de redes sociales */
.social-icon i {
    font-size: 30px;
    color: #ff5722;
    transition: transform 0.3s ease, color 0.3s ease;

}

/* Efecto hover en los iconos */
.social-icon:hover i {
    color: #00ff99;
    transform: scale(1.2);
}

/* Ajustes en el logo al hacer shrink */
.header.shrink .header-banner {
    max-width: 200px;
}

.header.shrink .header-right {
    gap: 15px;
}

/* Ajustes para los íconos de redes sociales */
.header.shrink .social-media-icons {
    gap: 10px;
    margin-right: 10px;
}

.header.shrink .social-icon i {
    font-size: 24px;
}

/* Ajustes para el botón de contacto en estado shrink */
.header.shrink .contact-button {
    transform: scale(0.9);
}

.header.shrink .contact-image {
    width: 40px;
    height: 40px;
    border-width: 1px;
}

.header.shrink .contact-text {
    font-size: 0.8em;
}

.header.shrink .nav-link {
    font-size: 16px;
    margin: 0 10px;
}

/* Botón de contacto */
.contact-button button {
    font-family: "Exo 2", serif;
    color: aliceblue;
    background-color: #ff5722;
    border-radius: 50px;

}

.contact-button button:hover {
    background: linear-gradient(135deg, #ff5722, #ff4081);
    border-color: #f44336;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.contact-button button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 87, 34, 0.7);
}

.contact-button button:disabled {
    background: #f0f0f0;
    color: #aaa;
    border-color: #ccc;
    cursor: not-allowed;
}

.contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #00ff99;
    font-family: "Exo 2", serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    background: linear-gradient(45deg, #ff00ff, #00ff99);
    box-shadow: 0 0 15px rgba(0, 255, 153, 0.8), 0 0 30px rgba(255, 0, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.contact-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #fff;
    transition: border-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 255, 153, 0.8), 0 0 30px rgba(255, 0, 255, 0.8);
}

.contact-button .contact-text {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 255, 153, 1), 0 0 20px rgba(255, 0, 255, 1);
    transition: text-shadow 0.3s ease;
}

.contact-button:hover .contact-text {
    text-shadow: 0 0 20px rgba(0, 255, 153, 1), 0 0 40px rgba(255, 0, 255, 1);
    /* Brillo del texto al hacer hover */
}

.contact-button:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 255, 153, 1), 0 0 60px rgba(255, 0, 255, 1);
}

.contact-button:hover .contact-text {
    color: #ff5722;
}

.contact-button:hover .contact-image {
    transform: rotate(360deg);
    border-color: #ff00ff;
}


/* Estilos responsive */
@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .header-banner {
        max-width: 150px;
    }

    .social-icon img {
        width: 25px;
        height: 25px;
    }

    .contact-image {
        width: 40px;
        height: 40px;
    }
}
