<header class="header">
    <div class="header-left">
        <img src="assets/images/nombre_banner.png" alt="Mi Portfolio" class="header-banner">
    </div>
    <div class="header-center"></div>
    <div class="header-right">
        <div class="social-media-icons">
            <a href="https://www.linkedin.com/in/nicol%C3%A1s-butterfield-9964aa1a3/" target="_blank" class="social-icon">
				<i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://soundcloud.com/user-785671138" target="_blank" class="social-icon">
                <i class="fa-brands fa-soundcloud"></i>
            </a>
            <a href="https://github.com/NicoButter" target="_blank" class="social-icon">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="contact-button" (click)="onContactClick()">
            <img src="assets/images/contact_me.jpeg" alt="Contáctame" class="contact-image">
            <button>Contáctame</button>
        </div>
    </div>
</header>
