body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    pointer-events: none;
}

/* Contenido */
section {
    min-height: 100vh;
    padding: 20px;
    color: white;
}

html {
    scroll-behavior: smooth;
  }