<!-- about-me.component.html -->
<div class="about-me">
	<div class="about-me-container">
		<!-- <div class="about-me-image">
			<img src="assets/images/my_skills.png"
				alt="Your Photo"
				class="about-me-img">
		</div> -->

		<div class="about-me-text">
			<h2>Sobre mí</h2>
			<p>
				Hola, soy Nicolás. Soy un apasionado de la tecnología y el desarrollo web. Mi objetivo es crear soluciones innovadoras que mejoren la experiencia de los usuarios. 
          A lo largo de mi carrera he trabajado con diversas tecnologías como Angular, JavaScript, HTML y CSS, y me encanta aprender constantemente.
			</p>
		</div>
	</div>
</div>
