<section>
	<div class="hero-container">
	  <div class="environment"></div>
	  <h2 class="hero glitch layers" data-text="Hola, soy Nicolás. Soy un apasionado de la tecnología y el desarrollo web. Mi objetivo es crear soluciones innovadoras que mejoren la experiencia de los usuarios. 
	  	A lo largo de mi carrera he trabajado con diversas tecnologías como Angular, JavaScript, HTML y CSS, django, springboot y me encanta aprender constantemente."><span>Hola, soy Nicolás. Soy un apasionado de la tecnología y el desarrollo web. Mi objetivo es crear soluciones innovadoras que mejoren la experiencia de los usuarios. 
		A lo largo de mi carrera he trabajado con diversas tecnologías como Angular, JavaScript, HTML y CSS, django, springboot y me encanta aprender constantemente</span></h2>
	</div>
</section>
