<section>
	<div class="hero-container">
		<div class="environment"></div>
		<h2 class="hero glitch layers"
			data-text=	"	█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█
							!! WARNING: UNKNOWN MESSAGE RECEIVED !!
							█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█

							[IDENTIFIER: N1C0L4S]

							███ MESSAGE DECRYPTION IN PROGRESS ███

							「受信者へ告ぐ。これは既知の地図を超えた地点から送られたメッセージである。私の識別名はニコラスだ。私はデジタル構造とコードの迷宮に情熱を注ぐ探求者だ。私の主要な使命は、人々がそれに触れることで体験を変え、豊かにするソリューションを設計することだ。
							これまでの旅路で、私はAngular、JavaScript、HTML、CSS、Django、Spring Bootといった主要な技術を習得してきた。これらのツールは私の武器であり、避難所でもあった。しかし、私を駆り立てるのは学んだことだけではない。絶え間ない探求心とさらなる発見への渇望だ。
							もしこのメッセージを受け取ったのなら、私が一人ではないことを知ってほしい。イノベーションは常に仲間を求めている。共に、虚無を超える何か偉大なものを築こう。」
							
							:::: END OF TRANSMISSION ::::

							:::: SIGNAL LOST :::::::::::::">
			<span>
				Attention, receiver. This is a message from a point beyond the known map. My identifier is Nicolás. I am an explorer passionate about digital structures and the labyrinths of code. My primary mission: to design solutions that transform and enrich the experience of those who interact with them.
				Throughout my journey, I have mastered key technologies such as Angular, JavaScript, HTML, CSS, Django, and Spring Boot. These tools have been both my weapons and my shelter. Yet, what drives me is not just what I have learned, but the relentless desire to explore and discover more.
				If you receive this, know that I am not alone. Innovation always seeks companions. Together, we can build something greater than the void.
			</span>
		</h2>
	</div>
</section>
